
/* 产品详情详细介绍的临时CSS */
    .list-wrap {
        margin-left: 70px;
        font-size: 14px;
    }

    .list-wrap .col-xs-10,
    .cut-off .col-xs-10 { 
    }

    .list-wrap>.col-xs-10>div {
        margin-bottom: 15px;
    }

    .cut-off {
        margin: 0 0 30px 70px;
    }

    .cut-off>div {
        border-bottom: 1px solid #ddd;
        height: 15px
    }