input.inp_search{
    background-color: rgb(250, 255, 189);
}
.search_wrap{
    margin:20px 20%;
}
.main{
    margin-top: 30px;
}
 .main>.col-xs-4{
    padding-left: 45px;
} 

h4{
    font-size: 16px;
    margin-top: 0px;
}
h4>a{
    color:inherit;
    display: inline-block;
    overflow: hidden;
}

a.orange+a.orange{
    margin-left: 10px;
}


.user-image{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
}
.user-image-small{
    width: 30px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-right: 10px;
}
section>.col-xs-1{
    padding-right: 0px;
}

hr{
    margin-top: 30px!important;
}
section:last-child>.col-xs-11{
    border-bottom:none;
}
section{
    margin-bottom: 30px;
}
.section-msg{
    color: rgb(153, 153, 153);
}
.post-new{
    font-weight: 600;
    width: 100%;
    margin-bottom: 30px;
}
.hot-list{
    margin-top: 15px;
    border:1px solid #e1e4e8;
    padding: 15px;
    border-radius: 4px;
}
.hot-list li+li{
padding-top: 10px;
}
.sec-image{
    max-width: 100%;
}