.swiper-img {
    width: 100%;
    height: auto;
    margin: 15px 0 15px;
    padding: 10px;
}

.container-pics {
    padding-left: 0px;
    padding-right: 0px;
}
.row .col-xs-3.text-center{
    margin-top: 15px;
}
.img-wrap{
    border: 1px solid #ddd;
    border-radius: 6px;
    padding-bottom: 20px;
}
.breadcrumb {
    margin: 0 auto;
    border-radius: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.container-fluid {
    background-color: #f5f5f5;
    margin-bottom: 30px;
}

.btn-primary {
    border-radius: 0px;
}

div.row {
    margin: 0px auto;
    width: 1080px;
}

.f30 {
    font-size: 30px;
}

.b-color {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 15px;
}