{% extends "admin/m_base_site.html" %}
{% block title %}{{ page }} 此时你在想什么... | {{ site_title|default:_(' ') }}{% endblock %}
{% block extrahead %}{{ block.super }}
{% load staticfiles %}
<script type="text/javascript" language="javascript" src="{% static 'heartbeat/js/action-jquery.js'%}"></script>
{{ media }}
{% endblock %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" media="screen" href="/static/heartbeat/css/m_heartbeat.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/heartbeat/css/m_new.css" />
{% endblock %}
{% block coltype %}colM{% endblock %}
 
{% block content %}

<form  action="" method="POST">
    {% csrf_token %}
         <ul><li class="title"> 此时你在想什么... </li>
                
                 <li> <textarea rows="5" cols="75" id="idwords" name="words"  class="words" value=""></textarea></li>
                
                  <li class="li_save">  <input type="submit" id="id_submit" class="save" value="保存" /> 
        </li></ul>       
</form>
{% endblock %}