{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %} {% endblock %} | map2family</title>

{% block extrastyle %}
<link rel="shortcut icon" href="/static/img/change.png">
<link rel="icon" href="/static/img/change.png">
 <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.4/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="/static/plugins/bootstrap-3.3.4/css/bootstrap.min.css"  />
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/m_base.css" %}{% endblock %}" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/js/m_jquery.message.css" />
<!---<link rel="stylesheet" type="text/css" media="screen" href="/static/js/ui/jquery-ui.css" />-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/m_base.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/menu/m_styles.css" />
<link rel="stylesheet" href="/static/css/font-awesome-4.3.0/css/font-awesome.min.css"/> 
<style> 
        .topcontainer{         
            padding-left:0;
            padding-right:0;
        }
        .fa-bars{
            color: #3498db;
        }
        pre{
            font-family: Consolas,Liberation Mono,Courier,monospace;
            font-size: 13px;
        }
        @media screen and (orientation: portrait){
            pre{
                overflow-x: scroll;
            }
        }
    </style>
{% endblock %}
{% block blockbots %}<meta name="robots" content="index,follow" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/> 
<meta name="keywords" content="{% block keywords%}map2family{%endblock%}" />
<meta property="qc:admins" content="4250250767651026151416375" />

<meta name="description" content="{% block description%}map2family是一家只传递正能量的网站，也是您在网上的一个私人空间，而且map2family一直觉得互联网不仅仅应该在朋友之间，更应该让亲人一起参与进来共同构建一个属于自己的family map.  {%endblock%}" />

{% endblock %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content='True' name='HandheldFriendly' />
{% if 0 %}
<meta content='width=device-width,initial-scale=0.325,minimum-scale=0.325,maximum-scale=0.325, user-scalable=0' name='viewport' />
{% else %}
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
{% endif %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
{% block extrahead %}
<script type="text/javascript"  src="http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js" charset="utf-8" ></script>
<script type="text/javascript"  src="/static/js/ui/jquery-ui.min.js" charset="utf-8" ></script>
<script type="text/javascript"  src="/static/js/ui/jquery.ui.touch-punch.min.js" charset="utf-8" ></script>
<script type="text/javascript" language="javascript" src="/static/js/PopMenu/jquery.popmenu.min.js"></script>

<script type="text/javascript"  src="/static/plugins/bootstrap-3.3.4/js/bootstrap.min.js" charset="utf-8" ></script>
 <script type="text/javascript"  src="/static/plugins/confirm/jquery.confirm.js" charset="utf-8" ></script>

<script>
 

    $(document).ready(function() {
       
    {% if request.user.head_portrait and request.user%}
            $('#id_user_portrait').css("background-image", "url({{request.user.head_portrait }})");
            {% else %}
            $('#id_user_portrait').css("background-image", "url('/static/img/dog.jpg')");
    {% endif %}
    {% block content_header %}
    var innerHeight = window.innerHeight;
    $('#container').css('min-height', innerHeight);
    {% endblock %}
      $('[data-toggle="tooltip"]').tooltip(); 
    });
 
 
 </script>
{% endblock %}
</head>
{% load i18n %}

<body id="body">
  
     <input type="hidden" id="login" value="{% if request.user.is_anonymous %}0{% else%}1{% endif %}"/>
 {% block Container %}
<!-- Container -->

<div class="container topcontainer">

    {% if not is_popup %}
    <!-- Header -->
   
 
    {%  comment "menu" %}
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
         
        {% if user.is_active and user.is_staff %}
        <div id="user-tools">
            {% block welcome-msg %}
                {% trans '欢迎您,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans '修改密码' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% trans '退出登录' %}</a>
            {% endblock %}
        </div>
        {% else %}
        <div id="user-tools">
            {% block unlogin %}
                {% trans '您好，请' %}
                <a href="{% url 'base:user_register' %}">{% trans '注册' %}</a> 或者
                <a href="{% url 'login' %}">{% trans '登录' %}</a>
            {% endblock %}
        </div>
        {% endif %}
        {%  endcomment  %}
        {% block nav-global %}{% endblock %}
     
    
    <!-- END Header -->
    
    {% endif %}
{% endblock %}
    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
         <input type="hidden" id="is_authenticated" value="{{request.user.is_authenticated}}"/>
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->
    <!-- END Container -->
    {% block footer_script %} 
    <script type="text/javascript"  src="/static/js/jquery.message.js"></script>    
    <script type="text/javascript" language="javascript" src="/static/js/m/hostpage.js"></script>
    {% endblock %}
    




</div>
{% block footer %}
 
    <div id="footer"> 
        
     {% block custom_footer %}
     {% endblock %}
     {% block custom_footer_menu %} 
     {% endblock %}
     {% block copyright_footer %}
    
        <div class="copyright">
         
          <span class="author_info">版权所有:张继伟 邮箱：postmaster@map2family.com</span>
          <br/>
           <span class="author_info">
               <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备15017611号</a>
               <a href="{% url 'base:contact_us' %}" target="_blank">联系我们</a>
               </span>
        </div>
    </div>
    {% endblock %}
{% endblock %}
{% block baidu_spider %}
		<script>
        
		(function(){
			var bp = document.createElement('script');
			var curProtocol = window.location.protocol.split(':')[0];
			if (curProtocol === 'https') {
				bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
			}
			else {
				bp.src = 'http://push.zhanzhang.baidu.com/push.js';
			}
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(bp, s);
		})();
         
		</script>
        {% endblock %}
</body>
</html>
