{% extends 'admin/base.html' %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}{{product.title}}{% endblock%} 
{% block css %} 
<link href="/static/products/css/products.css" rel="stylesheet">
<link href="/static/products/css/detail_temporary.css" rel="stylesheet">
{% endblock %}
{% block content %}
{%csrf_token%}
<input type="hidden" id="productid" value="{{product.id}}" />
<div class="container container-main">
   
    <div class="col-xs-6 p-n img-wrap">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for pic in pics %} 
                        <div class="swiper-slide">
                            <div class="sider">
                                <img class="product-pic" src="{{mediaroot}}{{pic.url}}" alt="">
                            </div>
                            <div class="pagination grey">{{forloop.counter}}/{{pics.count}}</div>
                        </div> 
                {% endfor %}
        
            </div>
            <!-- Add Navigation -->
            <div class="swiper-button-warp container">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div> 
     
     <!-- 商品详情 -->
    <div id="myTabContent" class="  col-sm-12 col-md-12">
        <div class="col-sm-12 col-md-12 tab-pane fade in active" id="details" role="tabpanel">
            <div class="illustrate">
                {{ product.detail|default:''|safe}}
            </div>
        </div>
    </div>
    <!-- 商品详情 end -->
</div>
 

{% endblock %}
{% block js %}  
{% endblock %}