{% extends 'admin/base.html' %}
{% block publicmenu %}
{% include 'admintitle.html' %}
{% endblock %}
{% block fixed_menu_class %}fixed_menu_class{%endblock%}
{% block pagetitle%}商品列表{% endblock%} {% block css %} {% load staticfiles %}
<link href="/static/appuser/css/usercenter.css" rel="stylesheet">
<link href="/static/products/css/list.css" rel="stylesheet"> 

{% endblock %} 
{% block content %}

<div  class="container m60"> 
        
        <div class="col-xs-10">
            <!-- 路径导航 -->
            
            <div class="usercentercontent">
                    <div class="car-title">
                            <a class="orange-bg order-form-btn common-btn" href="/product/products/?new"><span class="white">发布新商品</span></a>
                        </div>
                <div class="breadcrumb">
                    <form class="text-center">
                            <input class="search-val" type="search" name="keywords" placeholder="搜索管理内容">
                            <button class="btn-search" type="submit" title="点击搜索"><i class="fa fa-search orange" aria-hidden="true"></i></button>
                    </form>
                    <div class="active">搜索结果:</div>
                </div>
        
                <div class="clearfix">
                    {% for product in products %}
                    <div class="col-xs-3">
                        <div class="thumbnail">
                            <img src="{{mediaroot}}{{product.thumbnail}}" alt="...">
                            <div class="caption">
                                <h4><a href="{% url 'product:detail' product.id %}" >{{product.title}}</a></h4>
                                <p class="price">分类{{product.category.name}}
                                    
                                </p> 
                           
                            </div>
                        </div>
                    </div>
                    {% endfor %}  
                </div>
            </div>
            
        </div>
    </div>

{% endblock %} {% block js %}
<script type="text/javascript" src="/static/js/list.js"></script> {% endblock %}