 

         
        {% if vicerulename %}
            <div class="form-group gray-white">
                <label for="message" class="col-xs-2 control-label">{{vicerulename}}设置：</label>
                <div class="col-xs-6 format">
                    <div class="form-inline"> 
                        <div class="form-group">
                            <input type="text" class="form-control" id="pro" placeholder="{{vicerulename}}值：#EADF01">
                            <input type="text" class="form-control" id="color_name" placeholder="{{vicerulename}}名称：黑色">
                        </div>
                    
                        <button id="add-pro" type="button " class="btn btn-primary blue-btn">
                            <i class="fa fa-plus " aria-hidden="true "></i>
                        </button>

                    </div>
                    <table class="table table-hover table-bordered " id="pro-table">
                        <tr>
                            <th>{{vicerulename}}值<i class="fa fa-pencil" aria-hidden="true"></i></th>
                            <th>{{vicerulename}}名称<i class="fa fa-pencil" aria-hidden="true"></i></th>
                        
                            <th>删除</th>
                        </tr>
                        
                    </table>
                </div>

            </div>
        {% endif %}

 
