 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 transitional//EN">
    <html>
    <head>
        <meta charset="utf-8">
    <title> </title>
	<script src="jquery.js"></script>
    <style>
    a:link {
    color:#046380;
    text-decoration:underline;
    }
    a:visited {
    color:#A7A37E;
    text-decoration:none;
    }
    a:hover {
    color:#002F2F;
    text-decoration:underline;
    }
    a:active {
    color:#046380;
    text-decoration:none;
    }
    </style>
    </head>
    <body>
    <input type="file" id="filetbn" />
	<script >
	$(document).ready(function(){
	   $('#filetbn').change(function(){
	       console.log('get u');
	   });
	});
	</script
   
    </body>
    </html>
