<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta  charset="utf-8">
	<meta name="keywords" content="伏兮科技 web应用系统开发 app应用系统开发 android开发 iOS开发" />
    <meta name="description" content="伏兮科技提供一站式web应用开发，安卓、iOS应用开发，并且提供IT顾问咨询服务。" />
	<title>伏兮科技 web应用开发_app开发_IT顾问咨询</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link href="/static/newstyle/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/static/newstyle/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" media="screen" href="/static/js/jquery.message.css" />
	<link href="/static/newstyle/css/master.css" rel="stylesheet" type="text/css">
</head>
<body>
<header id="header">
	<div class="background">
	<nav class="text-right">
		<a href="{% url 'login' %}">
		   <i class="fa fa-user-o fa-2x" aria-hidden="true"></i>
	    </a>
	</nav>
	<!--导航结束-->
	<div id="con"><div class="en text-center" id="eng"></div>
	
	<div class="cn text-center">让您的应用更<span>精彩|便捷|稳定</span></div>
	
	<div class="text-center">
		<a class="font-small" href="javascript:;">我们是一个具有创造性思维的团队</a>
	 </div>
	
	<div class="center-block">
		<table >
			<tr>
				<td class="dashed"><i class="fa fa-edge fa-3x" aria-hidden="true"></i></td>
				<td class="dashed"><i class="fa fa-code fa-4x" aria-hidden="true"></i></td>
				<td class="dashed"><i class="fa fa-android fa-4x" aria-hidden="true"></i></td>
				<td class="dashed"><i class="fa fa-apple fa-4x" aria-hidden="true"></i></td>
				<td class="dashed"><i class="fa fa-weixin fa-3x" aria-hidden="true"></i></td>
				<td class="dashed"><i class="fa fa-shopping-bag fa-3x" aria-hidden="true"></i></td>
			</tr>
			<tr>
				<td class="dashed">web应用</td>
				<td class="dashed">网站开发	</td>
				<td class="dashed">android开发</td>
				<td class="dashed">iOS开发</td>
				<td class="dashed">微信应用</td>
				<td class="dashed">IT顾问服务</td>
			</tr>
		</table>
		
	</div>	
	</div>
	</div>
</header>

<div class="main-1 text-center">
	<div class="title">我们将竭诚为您服务
		</div>
	<div class="orage-border"></div>
	<div class="msg">细节精良，满足您对网页所有的幻想</div>
	
	<div class="ul-div clearfix">
		
			<ul class="pull-left">
				<li><i class="fa fa-folder-open-o fa-5x font-w" aria-hidden="true"></i></li>
				<li class="ul-title">网站规划</li>
				<li class="ul-msg">规划网站栏目和功能</li>
			</ul>
		
		
			<ul class="pull-left">
				<li><i class="fa fa-cubes fa-5x" aria-hidden="true"></i></li>
				<li class="ul-title">网站创意</li>
				<li class="ul-msg">让网站更加出众，让访客可以记住您的网站</li>
			</ul>
		
			<ul class="pull-left">
				<li><i class="fa fa-handshake-o fa-5x" aria-hidden="true"></i></li>
				<li class="ul-title">实现功能</li>
				<li class="ul-msg">将想法变成可以使用的网站功能以及用户体验</li>
			</ul>
		
			<ul class="pull-left">
				<li><i class="fa fa-refresh fa-5x" aria-hidden="true"></i></li>
				<li class="ul-title"><a href="/product/products">技术反馈&论坛</a></li>
				<li class="ul-msg">由技术支持工程师，负责问题解答、需求受理及故障受理。</li>
			</ul>
		
	</div>
</div>

<div class="main-2 text-center">
	<div class="title">案例介绍
		</div>
	<div class="orage-border"></div>
	<div  class="msg">如果我们有了第一次合作，您就会发现我们是可靠的合作伙伴!</div>
	
	<div class="clearfix list-warp">
		<a href="javascript:;"><div class="pull-left list">
			<div><img src="/static/newstyle/img/timg.jpg"></div>
			<div class="list-text">
				<div class="list-title">首都机场某配餐公司配餐系统</div>
				<div class="ul-msg text-left">请用一句话概括本项目的特点</div>
			</div>
		</div></a>
		<a href="javascript:;"><div class="pull-left list list-mid">
			<div><img src="/static/newstyle/img/timg.jpg"></div>
			<div class="list-text">
				<div class="list-title">object项目2</div>
				<div class="ul-msg">请用一句话概括本项目的特点</div>
			</div>
		</div></a>
		<a href="javascript:;"><div class="pull-left list">
			<div><img src="/static/newstyle/img/timg.jpg"></div>
			<div class="list-text">
				<div class="list-title">object项目3</div>
				<div class="ul-msg">请用一句话概括本项目的特点</div>
			</div>
		</div></a>
	</div>

</div>

<div class="main-4 clearfix">
	

<div class="text-left pull-left margin-bot">
		<span class="your">您的信息</span> 
			
		<div class="form-inline text-left">
				<div class="form-group">
					<input type="text" class="form-control" id="name" placeholder="姓名">
				</div>
				<div class="form-group">
					<input type="email" class="form-control" id="email" placeholder="邮箱：@example.com">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="phone" placeholder="电话">
				</div>
				<div class="form-group">
					<input type="email" class="form-control" id="qq" placeholder="QQ">
				</div>
				<label for="msg" class="my-lab">告诉我们您的需求:</label>	
				<textarea id="msg" rows="" cols=""  ></textarea>
				
				<button type="button" id="submit" class="btn btn-default">提交</button>
		</div>
	</div>
	<div class="text-center"><div class="title">联系我们:
				</div>
			<div class="orage-border"></div>
			<div class="msg margin-top">
				<i class="fa fa-qq" aria-hidden="true"></i>: 461882709
				<i class="fa fa-envelope margin-l" aria-hidden="true"></i>: postmaster@map2family.com
			</div>
		</div>


</div>

<footer class="text-center">
	<span>版权所有： 伏兮科技  邮箱：postmaster@map2family.com</span>
            <br />
            <span ><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备15017611号</a></span>
</footer>

<script type="text/javascript" src="/static/newstyle/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/static/newstyle/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript"  src="/static/js/jquery.message.js"></script>
<script type="text/javascript" src="/static/newstyle/js/homepage.js"></script>
<script>
	$(document).ready(function(){
    $('#submit').click(function(){
		var name=$('#name').val();
		var email=$('#email').val();
		var phone=$('#phone').val();
		var qq=$('#qq').val();
		var msg=$('#msg').val();
        
		$.post("{% url 'demands:create'%}", {
			name:name, email:email, phone:phone, qq:qq, msg:msg}, function(){
            $().message('提交成功，我们会在24小时内与您联系...');
		})
		
	})
	});
	</script>
</body>
</html>
